<form name="sci-calc" #calculator="ngForm">
  <table class="calculator" cellspacing="0" cellpadding="1">
    <tr>
      <td colspan="5"><input id="display" [(ngModel)]="value1" name="display" [value]="value1" size="28" maxlength="25">
      </td>
    </tr>
    <tr>
      <td><button type="button" class="btnOpps">x^</button></td>
      <td><button type="button" class="btnOpps">x!</button></td>
      <td><button type="button" class="btnOpps">√x</button></td>
      <td><button type="button" class="btnOpps">ln(x)</button></td>
    </tr>
    <tr>
      <td><button type="button" class="btnNum" (click)="add(7)">7</button></td>
      <td><button type="button" class="btnNum" (click)="add(8)">8</button></td>
      <td><button type="button" class="btnNum" (click)="add(9)">9</button></td>
      <td><button type="button" class="btnTop" (click)="cancel()">C</button></td>
    <tr>
      <td><button type="button" class="btnNum" (click)="add(4)">4</button></td>
      <td><button type="button" class="btnNum" (click)="add(5)">5</button></td>
      <td><button type="button" class="btnNum" (click)="add(6)">6</button></td>
      <td><button type="button" class="btnTop" (click)="calculate()">=</button></td>
    </tr>
    <tr>
      <td><button type="button" class="btnNum" (click)="add(1)">1</button></td>
      <td><button type="button" class="btnNum" (click)="add(2)">2</button></td>
      <td><button type="button" class="btnNum" (click)="add(3)">3</button></td>
      <td><button type="button" class="btnNum" (click)="add(0)">0</button></td>
    </tr>
  </table>
</form>